[Unit]
Description=Run rover firmware on boot

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/workspace/rover/pi/app
ExecStart=/home/pi/workspace/rover/pi/app/start
Restart=always

[Install]
WantedBy=multi-user.target